<div class="system-tool-bar">
  <!-- menue -->
  <div class="system-menue">
    <button>
      W
    </button>
  </div>

  <!-- list of pinned applications -->
  <div id="pinned-applications" class="system-pinned-applications"></div>

  <!-- right side of the system toolbar -->
  <div class="system-information">
    
    <!-- system time -->
    <div class="element">
      <span id="system-time" class="time"></span>
      <script>getSystemTime();</script>
    </div>

    <span class="vr"></span>

    <div class="element">
      <div class="info">
        X
      </div>
    </div>

  </div>
</div>