<div class="system-tool-bar">
  <!-- menue -->
  <div class="system-menue">
    <button>
      W
    </button>
  </div>

  <!-- list of pinned applications -->
  <div class="system-pinned-applications">

    <div class="element">
      <div class="app">
        X
      </div>
    </div>

    <div class="element">
      <div class="app">
        X
      </div>
    </div>

    <div class="element">
      <div class="app">
        X
      </div>
    </div>

  </div>

  <!-- right side of the system toolbar -->
  <div class="system-information">
    
    <!-- system time -->
    <div class="element">
      <span class="time">Fr, 23. Apr 21:56</span>
    </div>

    <span class="vr"></span>

    <div class="element">
      <div class="info">
        X
      </div>
    </div>

  </div>
</div>