@import "variables";

.window.app-window {
  z-index: $app-window-z-index;

  width: 50vw;
  height: 60vh;
}

.window.app-window > .app-title-bar {
  position: relative;
  top: 0%;
  width: 100%;
  height: 25px;
  background-color: $beige-dark;
}

.window.app-window > .app-title-bar > .app-button {
  float: right;
  margin: 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  color: $beige-lighter;

  cursor: pointer;
}

.window.app-window > .app-title-bar > .app-close {
  background-color: $red;
}

.window.app-window > .app-title-bar > .app-fullscreen {
  background-color: $orange-light;
}

.window.app-window > .app-title-bar > .app-hide {
  background-color: $green-light;
}

.window.app-window > .app-body {
  padding: 35px;
  height: 100%;
  width: 100%;
}

.window.app-window.tiling-left {
  top: 0px !important;
  left: 0px !important;
  width: 50% !important;
  height: calc(100% - 42px) !important;
  transform: translate(0%, 0%) !important;
  position: fixed !important;
}

.window.app-window.tiling-right {
  top: 0px !important;
  left: 100% !important;
  width: 50% !important;
  height: calc(100% - 42px) !important;
  transform: translate(-100%, 0%) !important;
  position: fixed !important;
}

.window.app-window.fullscreen {
  top: 0px !important;
  left: 0px !important;
  position: fixed !important;
  width: 100% !important;
  height: calc(100% - 42px) !important;
  transform: translate(0%, 0%) !important;
}

.window.app-window.hidden {
  display: none;
}
