@import "variables";

#desktop {
  background: asset_url("background.img") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: calc(100% - 42px);
}

#desktop > .app {
  position: absolute;
  width: $app-size;
  height: auto;
  cursor: pointer;
  margin: 10px;
}

#desktop > .app:focus {
  border: dashed 1px $beige-dark;
}

#desktop > .app > .icon {
  width: $app-size / 2;
  height: $app-size / 2;
  margin: 0px $app-size / 4;
  background-color: $beige-light;
}

#desktop > .app > .icon:hover {
  transform: scale(105%);
}

#desktop > .app > .text {
  display: inline-block;
  width: $app-size;
  height: auto;
  word-wrap: anywhere;
  text-align: center;
}

#desktop > .context-menu {
  position: absolute;
  padding: 2px;
  min-width: 200px;
  background-color: $beige-dark;
  z-index: $context-menu-z-index;

  -moz-box-shadow: 0 0 5px $beige-pitch-black;
  -webkit-box-shadow: 0 0 5px $beige-pitch-black;
  box-shadow: 0 0 5px $beige-pitch-black;
}

#desktop > .context-menu > .menu > button {
  width: 100%;
  border-radius: 0px;
  height: 30px;
  border: 0px solid transparent;
  text-align: left;
  background-color: transparent;
  color: $orange-light;
}

#desktop > .context-menu > .menu > button:hover {
  background-color: $beige-black;
}