@import "variables";

.file-window {
  height: 100%;
}

.file-toolbar {
  height: 40px;
  width: 100%;
  background-color: $beige-black;
  color: $beige-light;
}

.favorite-files {
  float: left;
  width: 220px;
  height: calc(100% - 40px);
  background-color: $beige-dark;
  color: $beige-light;

  border-bottom-left-radius: 3px;

  table {
    background-color: $beige-dark;
    color: $beige-light !important;
  }
}

.file-table {
  float: left;
  height: calc(100% - 40px);
  width: calc(100% - 220px);
  overflow-y: scroll;
  background-color: $beige-darker;
  color: $beige-light;

  border-bottom-right-radius: 3px;

  table {
    background-color: $beige-darker;
    color: $beige-light !important;
  }
}

.file-form, .folder-form {
  width: 52px !important;
  float: right;
}

#add-folder {
  float: right;
}

.add-folder-form {
  position: absolute;
  right: 25px;
  top: 75px;
  background-color: $beige-pitch-black;
  padding: 10px;
}

.dir-name {
  float: left !important;
  width: 80% !important;
}

#dir-add {
  float: left;
  width: calc(20% - 10px);
  margin-left: 10px;
}

.navigation-bar {
  float: left;
  width: 70%;
  height: 100%;

  .breadcrumb {
    height: 100%;
    ul {
      height: 100%;
      li {
        height: 100%;
      }
    }
  }
}

.file-icon {
  margin-right: 0px !important;
}

.file-label .file-cta {
  background-color: $beige-black !important;
  color: $beige-lighter !important;
}

.file-label:hover .file-cta {
  background-color: $beige-darker !important;
  color: $beige-light !important;
}

.file-cta, .file-name {
  border-radius: 0px !important;
  border: none !important;
}

.file-upload {
  width: 100%;
  float: left;
  height: 10%;
  padding-top: 15px;
}

.light-icon {
  color: $beige-light;
  line-height: 24px;
  font-size: 18px;
}

.fav-entry {
  cursor: pointer;
}

.file-entry {
  cursor: pointer;
}