@import "variables";

// --- system-tool-bar ---

.system-tool-bar {
  position: fixed;
  background-color: $beige-darker;
  height: $system-toolbar-height;
  width: 100%;
  bottom: 0px;
  z-index: $system-toolbar-z-index;
}

.system-tool-bar > div {
  background-color: $beige-black;
  height: $system-toolbar-height;
}

.system-tool-bar > .system-menu {
  width: $system-toolbar-height;
  float: left;
}

.system-tool-bar > .system-menu > button {
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  height: $system-toolbar-height;
  width: $system-toolbar-height;
  background-color: $beige-darker;
  border: 1px solid $beige-pitch-black;
}

.system-tool-bar > .system-menu > button > .icon {
  width: 100%;
  height: 100%;
}

.system-tool-bar > .system-menu > button:hover {
  background-color: $beige-black;
}

.system-tool-bar > .system-menu > .menu-box {
  position: relative;
  height: $system-menu-height;
  width: $system-menu-width;
  top: calc(-55vh - 48px);
  background-color: $beige-black;
  padding: 15px;
  color: $beige-light;
}

.system-tool-bar > .system-menu > .menu-box.hidden {
  display: none;
}

.system-tool-bar > .system-menu > .menu-box > .vr {
  float: left !important;
  margin: 0px 15px !important;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left {
  width: calc(60% - 16px);
  height: 100%;
  float: left;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left > .app-search {
  border-radius: 0px;
  width: 100%;
  height: $system-toolbar-height;
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  background-color: $beige-darker;
  color: $orange-light;
  top: -42px;
  position: relative;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left > #app-search-result {
  height: 100%;
  width: 100%;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left > #app-search-result > button {
  border-radius: 0px;
  width: 100%;
  height: $system-toolbar-height;
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  background-color: $beige-darker;
  color: $orange-light;
  padding: 10px;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left > #app-search-result > button:hover {
  background-color: $beige-black;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right {
  width: calc(40% - 15px);
  height: 100%;
  float: right;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > .current-user {
  height: 100%;
  width: 100%;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > button {
  border-radius: 0px;
  width: 100%;
  height: $system-toolbar-height;
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  background-color: $beige-darker;
  color: $orange-light;
  top: -42px;
  position: relative;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > button:hover {
  background-color: $beige-black;
}




.system-pinned-applications {
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  min-width: 200px;
  float: left;
  padding: 4px;
}

.system-information {
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;

  min-width: 200px;
  float: right;
  padding: 8px;
}


// --- list of pinned applications ---

.element {
  height: 100%;
  width: auto;
  margin: 0px 8px;
}

.system-pinned-applications > .element {
  float: left;
  width: $system-toolbar-height - 10px;
}

.system-pinned-applications > .element > .app {
  background-color: $beige-light;
  border-radius: 6px;
  box-shadow: 0 0 3px $beige-pitch-black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.system-pinned-applications > .element > .app > .icon {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

// --- right side of the system toolbar ---

.system-information > .element {
  float: right;
  min-width: $system-toolbar-height - 18px;
}

.system-information > .element > .time {
  color: $beige-light;
  font-weight: 900;
  display: inline-block;
  width: 100%;
}

.system-information > .element > .info {
  background-color: $beige-light;
  border: 1px solid $beige-pitch-black;
  width: 100%;
  height: 100%;
}

.vr {
  width: 1px; 
  height: 100%;
  border-left: 1px solid $beige-pitch-black;
  float: right;
  margin: 0px 8px;
}