@import "variables";

// --- system-tool-bar ---

.system-tool-bar {
  position: fixed;
  background-color: $beige-darker;
  height: $system-toolbar-height;
  width: 100%;
  bottom: 0px;
  z-index: $system-toolbar-z-index;
}

.system-tool-bar input:focus {
  border-radius: 0px;
  outline: none !important;
  border: 1px solid $red !important;
  box-shadow: 0 0 1px $red !important;
}

.system-tool-bar > div {
  background-color: $beige-black;
  height: $system-toolbar-height;
}

.system-tool-bar > .system-menu {
  width: $system-toolbar-height;
  float: left;
}

.system-tool-bar > .system-menu > button {
  padding: 0px;
  border-radius: 0%;
  border: none;
  height: $system-toolbar-height;
  width: $system-toolbar-height;
  background-color: $beige-darker;
  border: 1px solid $beige-pitch-black;
}

.system-tool-bar > .system-menu > button > .icon {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  color: $beige-lighter;
  font-size: 1.6rem;
}

.system-tool-bar > .system-menu > button:hover {
  background-color: $beige-black;
  color: $beige-light;
  font-size: 2rem;
}

.system-tool-bar > .system-menu > .menu-box {
  position: absolute;
  height: $system-menu-height;
  min-width: $system-menu-width;
  bottom: $system-toolbar-height;
  background-color: $beige-black;
  padding: 15px;
  color: $beige-light;
}

.system-tool-bar > .system-menu > .menu-box > .vr {
  float: left !important;
  margin: 0px 15px !important;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left {
  width: calc(60% - 16px);
  height: 100%;
  float: left;
}

.system-tool-bar > .system-menu > .menu-box > .menu-left > .app-search {
  border-radius: 0px;
  width: 100%;
  height: $system-toolbar-height;
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  background-color: $beige-darker;
  color: $orange-light;
  padding: 0px 10px;
}

#app-search-result {
  height: calc(100% - 42px - 5px);
  width: 100%;
}

#app-search-result > button {
  border-radius: 0px;
  width: 100%;
  height: $system-toolbar-height;
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  background-color: $beige-darker;
  color: $orange-light;
  padding: 2px;
}

#app-search-result > button > img {
  height: 100%;
  width: auto;
  float: left;
}

#app-search-result > button >.app-name {
  height: 100%;
  text-align: center;
  display: flex;
  //justify-content: center; /* align horizontal */
  padding: 0px 6px;
  align-items: center; /* align vertical */
}

#app-search-result > button:hover {
  background-color: $beige-black;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right {
  width: calc(40% - 15px);
  height: 100%;
  float: right;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > .current-user {
  height: calc(100% - 42px - 5px);
  width: 100%;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > .current-user > .image {
  transform: translateX(-50%);
  left: 50%;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > button {
  border-radius: 0px;
  width: 100%;
  height: $system-toolbar-height;
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  background-color: $beige-darker;
  color: $orange-light;
}

.system-tool-bar > .system-menu > .menu-box > .menu-right > button:hover {
  background-color: $beige-black;
}




.system-pinned-applications {
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;
  min-width: 200px;
  float: left;
  padding: 4px;
}

.system-information {
  border: 1px solid $beige-pitch-black;
  -moz-box-shadow: inset 0 0 3px $beige-pitch-black;
  -webkit-box-shadow: inset 0 0 3px $beige-pitch-black;
  box-shadow: inset 0 0 3px $beige-pitch-black;

  min-width: 200px;
  float: right;
  padding: 8px;
}


// --- list of pinned applications ---

.element {
  height: 100%;
  width: auto;
  margin: 0px 8px;
}

.system-pinned-applications > .element {
  float: left;
  width: $system-toolbar-height - 10px;
}

.system-pinned-applications > .element > .app {
  background-color: $beige-light;
  border-radius: 6px;
  box-shadow: 0 0 3px $beige-pitch-black;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.system-pinned-applications > .element > .app > .icon {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.system-pinned-applications > .element > .app > .icon:hover {
  transform: scale(105%);
}

// --- right side of the system toolbar ---

.system-information > .element {
  float: right;
  min-width: $system-toolbar-height - 18px;

  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.system-information > .element > .time {
  color: $beige-light;
  font-weight: 900;
  display: inline-block;
  width: 100%;
  padding: 3px 10px;
}

.system-information > .element > .time:hover {
  cursor: pointer;
  background-color: $beige-pitch-black;
  box-shadow: $beige-pitch-black 0px 0px 1px 1px;
  border-bottom: 2px solid $red;
  transform: translateY(1px);
}

.system-information > .element > .time:focus {
  cursor: pointer;
  background-color: $beige-pitch-black;
  box-shadow: $beige-pitch-black 0px 0px 1px 1px;
  border-bottom: 2px solid $red;
  transform: translateY(1px);
}

.system-information > .element > abbr > .info {
  color: $beige-light;
  height: 100%;
  cursor: default;
}

.vr {
  width: 1px; 
  height: 100%;
  border-left: 1px solid $beige-pitch-black;
  float: right;
  margin: 0px 8px;
}

#detailed-system-info {
  width: 600px;
  background-color: $beige-darker;
  position: absolute;
  bottom: $system-toolbar-height + 10px;
  right: 10px;
  color: $beige-light;
}

#detailed-system-info > .hardware-monitor {
  width: 50%;
  float: left;
  padding: 10px;
}

#detailed-system-info > .hardware-monitor > .hardware-entry {
  padding: 10px;
  margin: 15px;
  background-color: $beige-dark;
}

.hardware-monitor > .hardware-entry > progress {
  width: 100%;
}

progress[value] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  
  border: none;

  background-color: $beige-darker;
}

progress[value]::-webkit-progress-bar {
  background-color: $beige-darker;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

#temp_progress_container {
  
  progress[value]::-moz-progress-bar {
    background-color: $yellow;
    border-radius: 2px;
  }

  progress[value]::-webkit-progress-value {
    background: $yellow;
  }
}

#memory_progress_container {

  progress[value]::-moz-progress-bar {
    background-color: $red;
    border-radius: 2px;
  }

  progress[value]::-webkit-progress-value {
    color: $red;
  }
}

#swap_progress_container {

  progress[value]::-moz-progress-bar {
    background-color: $orange-light;
    border-radius: 2px;
  }
  
  progress[value]::-webkit-progress-value {
    color: $orange-light;
  }
}

#cpu_progress_container {

  progress[value]::-moz-progress-bar {
    background-color: $green-light;
    border-radius: 2px;
  }
  
  progress[value]::-webkit-progress-value {
    color: $green-light;
  }
}

#detailed-system-info > .date-time {
  width: 50%;
  padding: 10px;
  float: right;
}