@import "variables";

html, body {
  font-family: $family-sans-serif !important;
  color: $beige-darker !important;
  background-color: $black-background !important;

  max-height: 100vh;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;

  overflow: hidden !important;
  overflow-y: hidden !important;
  overflow-x: hidden !important;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Old versions of Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.loading {
  cursor: wait;
}

button {
  cursor: pointer;
}

.light-font {
  color: $beige-light;
}

.window {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: $beige-lighter;
  border: 1px solid $beige-dark;
  border-radius: 5px;
  box-shadow: 0 0 3px $beige-dark;
}

.window.devise-window {
  padding: 35px;
}

.window.devise-window.signup {
  width: 30vw;
}

.window.devise-window.signin {
  width: 20vw;
}

.blur {
  -webkit-filter: blur(1.2rem);
  -moz-filter: blur(1.2rem);
  -o-filter: blur(1.2rem);
  -ms-filter: blur(1.2rem);
  filter: blur(1.2rem);
  height: 100vh;
}

#system-message-overlay {
  position: absolute;
  z-index: $system-message-container-z-index;
  -webkit-filter: blur(1.8rem);
  -moz-filter: blur(1.8rem);
  -o-filter: blur(1.8rem);
  -ms-filter: blur(1.8rem);
  filter: blur(1.8rem);
  width: 100vw;
  height: 100vh;
  background-color: $brown;
  opacity: 0.36;
}

.system-message {
  z-index: $system-message-z-index;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20vw;
  transform: translate(-50%, -50%);
  opacity: 0.86;
  background-color: $beige-darker;

  -moz-box-shadow: 0 0 5px $beige-pitch-black;
  -webkit-box-shadow: 0 0 5px $beige-pitch-black;
  box-shadow: 0 0 5px $beige-pitch-black;
}

.system-message > .message {
  background-color: $beige-darker;
  color: $beige-light;
}

.system-message > .message > .system-message-title {
  padding: 10px;
  font-weight: 900;
}

.system-message > .message > .system-message-body {
  padding: 10px;
}

.system-message > .message > .system-message-button-bar {
  padding: 0px;
}

.system-message > .message > .system-message-button-bar > button {
  margin: 0px;
  width: calc(50% - 2.5px);
  background-color: $beige-darker;
  color: $orange-light;
  border: none;
  height: 50px;
}

.system-message > .message > .system-message-button-bar > button:hover {
  background-color: $beige-pitch-black;
}