@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');


// -----------  colors  -----------

// Global colors
$black-background: #333;
$red: #a73939;
$yellow: #e4db62;
$orange-light: #e4c162;
$green-light: #66e462;

// grey and black
$brown: #757763;
$beige-dark: #3b3b3a;
$beige-darker: #2b2b2a;
$beige-black: #1b1b1a;
$beige-pitch-black: #10100f;

// light
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $red;
$link: $orange-light;

$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;



// -----------  table  -----------
$table-color: $beige-light;
$table-background-color: $beige-darker;
$table-cell-border: $beige-black;
$table-row-hover-background-color: $beige-black;
$table-row-active-background-color: $red;
$table-head-cell-color: $beige-light;


// -----------  sizes  -----------
$app-size: 120px;
$system-toolbar-height: 42px;
$system-menu-width: 650px;
$system-menu-height: 800px;



// -----------  z-index  -----------
$system-message-z-index: 50;
$system-message-container-z-index: 40; 
$context-menu-z-index: 30;
$system-toolbar-z-index: 20;
$app-window-z-index: 10;



// Import the rest of Bulma
@import "bulma";