<% user_dir = Rails.root.join('data', current_user.username) %>
<% Dir.mkdir(user_dir) unless Dir.exist?(user_dir) %>
<% Dir.chdir(user_dir) %>

<div class="file-window">

  <div class="file-toolbar">

    <div id="file-navigation-container" class="navigation-bar">
      <%= render partial: 'my_apps/file_browser/file_navigation', locals: { current_dir: user_dir.to_s } %> 
    </div>

    <div class="folder-form">
      <label class="file-label">
        <button id="add-folder" class="file-input"></button>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-folder-plus"></i>
          </span>
        </span>
      </label>
    </div>

    <div id="add-folder-container" class="add-folder-form hidden">
      <form class="add-dir-form" action="/file_system/create_dir">
        <label for="dir_name">Directory name:</label><br>
        <input type="text" id="dir_name" class="input dir-name" name="dir_name" value="Neuer Ordner" placeholder="Neuer Ordner">
        <input id="dir-add" class="button is-dark" type="submit" value="+">
      </form> 
    </div>

    <%= form_with url: "/file_system/upload", multipart: true, class: "file-form", method: :post do |f| %>
      <div>
        <label class="file-label">
          <%= f.file_field :datei, class: "file-input", multiple: true %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </span>
          </span>
        </label>
      </div>
    <% end %>
  </div>

  <div class="favorite-files">

    <table class="table is-fullwidth is-hoverable">
      </thead>
      <tbody>
        <tr class="fav-entry is-selected">
          <th>
            <span class="light-icon">
              <i class="fas fa-bookmark"></i>
            </span>
          </th>
          <td>Root</td>
        </tr>
        <tr class="fav-entry">
          <th>
            <span class="light-icon">
              <i class="fas fa-home"></i>
            </span>
          </th>
          <td>Home</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div id="system-files" class="file-table">
    <%= render partial: 'my_apps/file_browser/file_tree'%>
  </div>

</div>