<% apps.each do |app| %>
  <button data-app-id="<%= app.id %>" class="app-search-result button">
    <img src="<%= app.img_src %>" class="icon" draggable="false" />
    <span class="app-name"><%= app.name %></span>
  </button>
<% end %>
