<div class="system-tool-bar">
  <div class="system-menu">
    <button id="open-menu-btn">
      <span class="icon is-large">
        <i class="fab fa-windows"></i>
      </span>
    </button>

    <div id="system-menu-box" class="menu-box hidden" >
      <div class="menu-left">
        <div id="app-search-result"> </div>

        <input id="app-search-input" class="app-search" type="text" placeholder="Application Search" />
      </div>

      <div class="menu-right">
        <div class="current-user">
          <figure class="image is-128x128">
            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
          </figure>

          <div class="user-name">
            User: <%= current_user.firstname %>
          </div>
        </div>

        <button id=" button log-out-btn">
          Abmelden
        </button>
      </div>

      <span class="vr"></span>
    </div>
  </div>

  <div id="pinned-applications" class="system-pinned-applications"></div>

  <div class="system-information">
    <div class="element">
      <span id="system-time" class="time"></span>
    </div>

    <span class="vr"></span>

    <div class="element">
      <abbr id="upgradable_element" title="Upgradable Packages: -" >
        <div class="info">
          <span class="icon is-medium">
            <i class="fas fa-download"></i>
          </span>
        </div>
      </abbr>

      <abbr id="temp_element" title="Temperature: -" >
        <div class="info">
          <span class="icon is-medium">
            <i class="fas fa-thermometer-half"></i>
          </span>
        </div>
      </abbr>

      <abbr id="memory_element" title="Swap usage: -  Memory usage: -" >
        <div class="info">
          <span class="icon is-medium">
            <i class="fas fa-memory"></i>
          </span>
        </div>
      </abbr>

      <abbr id="cpu_element" title="CPU usage: -" >
        <div class="info">
          <span class="icon is-medium">
            <i class="fas fa-microchip"></i>
          </span>
        </div>
      </abbr>
    </div>

  </div>
</div>