<div class="system-tool-bar">
  <div class="system-menu">
    <button id="open-menu-btn">
      <img src="https://i.pinimg.com/originals/9f/88/36/9f88367196529f0c55008438904a2c9b.jpg" class="icon" draggable="false" />
    </button>

    <div id="system-menu-box" class="menu-box hidden" >
      <div class="menu-left">
        <div id="app-search-result"> </div>

        <input id="app-search-input" class="app-search" type="text"/>
      </div>

      <div class="menu-right">
        <div class="current-user">
          <div class="user-profile">
            <img src="https://i.pinimg.com/originals/9f/88/36/9f88367196529f0c55008438904a2c9b.jpg" class="profile-picture" draggable="false" />
          </div>

          <div class="user-name">
            User: <%= current_user.email %>
          </div>
        </div>

        <button id="log-out-btn">
          Abmelden
        </button>
      </div>

      <span class="vr"></span>
    </div>
  </div>

  <div id="pinned-applications" class="system-pinned-applications"></div>

  <div class="system-information">
    <div class="element">
      <span id="system-time" class="time"></span>
    </div>

    <span class="vr"></span>

    <div class="element">
      <abbr title="Upgradable Packages: 120" ><div class="info">U</div></abbr>

      <abbr title="Temperature:  34.1 C" ><div class="info">T</div></abbr>

      <abbr title="Swap usage: 0% Memory usage: 6%" ><div class="info">M</div></abbr>
    </div>

  </div>
</div>