<div id="app-window-id-<%=app.id%>" class="app-window window">
  <div class="app-title-bar">
    <div class="app-close" onclick="document.getElementById('app-window-id-<%=app.id%>').remove();"></div>
  </div>

  <div class="app-body">
    Test
  </div>
</div>