<div>
  <h1 class="title">File Browser</h1>

  

  <form action="manage_uploads.php" method="post" enctype="multipart/form-data">
    <div class="file">
      <label class="file-label">
        <input class="file-input" type="file" name="datei[]" multiple>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-cloud-upload-alt"></i>
          </span>
          <span class="file-label">
            Choose a file…
          </span>
        </span>
      </label>
    </div>
  </form>
</div>