<% Dir.chdir(Rails.root.join('data')) %>

<div class="file-window">

  <div class="file-toolbar">
    <%= form_with url: "/file_system/upload", multipart: true, class: "file-form", method: :post do |f| %>
      <div>
        <label class="file-label">
          <%= f.file_field :datei, class: "file-input", multiple: true %>
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-cloud-upload-alt"></i>
            </span>
          </span>
        </label>
      </div>
    <% end %>
  </div>

  <div class="favorite-files">

    <table class="table is-fullwidth is-hoverable">
      </thead>
      <tbody>
        <tr class="fav-entry is-selected">
          <th>
            <span class="light-icon">
              <i class="fas fa-bookmark"></i>
            </span>
          </th>
          <td>Root</td>
        </tr>
        <tr class="fav-entry">
          <th>
            <span class="light-icon">
              <i class="fas fa-home"></i>
            </span>
          </th>
          <td>Home</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div id="system-files" class="file-table">

    <%= render partial: 'my_apps/file_tree'%> 
  
  </div>

</div>