<div>
  Test
  <button onclick="createSystemMessage('info', 
          'Es werden Daten gelöscht!', 
          'Bei Ihrer letzten Aktion wurden unabsichtlich alle Daten auf dem System gelöscht.', 
          null);">
    Test Message
  </button>
</div>