<div class="menu">
  <button class="context-menue-item" data-file-name="<%= name %>" data-file-path="<%= path %>" data-file-action="download">
    Herunterladen
  </button>

  <button class="context-menue-item" data-file-name="<%= name %>" data-file-path="<%= path %>" data-file-action="delete">
    Löschen
  </button>
</div>
