<button class="context-menue-item" data-file-path="/test.txt" data-file-action="download" data-context-menue=5>
  Herunterladen
</button>

<button class="context-menue-item" data-file-path="/test.txt" data-file-action="delete" data-context-menue=5>
  Umbenennen
</button>

<button class="context-menue-item" data-file-path="/test.txt" data-file-action="delete" data-context-menue=5>
  Löschen
</button>